<footer class="relative z-10 -mt-[8rem] bg-black pt-[4rem]">
  <img src="./img/main-bg.webp" alt="" class="pointer-events-none absolute -z-[1] h-full w-full object-cover opacity-10" />
  <div class="pb-12 pt-32 md:pb-14">
    <div class="container flex flex-col-reverse justify-between gap-[3.75rem] lg:flex-row">
      <div>
        <div class="mb-10 flex justify-between gap-10 sm:justify-stretch sm:gap-[8rem]">
          <div>
            <h2 class="mb-3 text-base uppercase opacity-50 sm:text-2xl 2xl:text-3xl">Quick Link</h2>
            <ul class="flex flex-col gap-3">
              <li>
                <a href="/" class="leading-normal transition-colors duration-300 hover:text-primary 2xl:text-xl">Home</a>
              </li>
              <li>
                <a href="about.html" class="leading-normal transition-colors duration-300 hover:text-primary 2xl:text-xl">About</a>
              </li>
              <li>
                <a href="lifestyle.html" class="leading-normal transition-colors duration-300 hover:text-primary 2xl:text-xl">Lifestyle</a>
              </li>
              <li>
                <a href="form.html" class="leading-normal transition-colors duration-300 hover:text-primary 2xl:text-xl">Apply</a>
              </li>
            </ul>
          </div>
          <div>
            <h2 class="mb-3 text-base uppercase opacity-50 sm:text-2xl 2xl:text-3xl">Connect</h2>
            <ul class="flex flex-col gap-3">
              <li>
                <a href="#" class="whitespace-nowrap leading-normal transition-colors duration-300 hover:text-primary 2xl:text-xl">Instagram</a>
              </li>
              <li>
                <a href="tel:+12345678901" class="whitespace-nowrap leading-normal transition-colors duration-300 hover:text-primary 2xl:text-xl"
                  >+1 234 567 8901</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div id="copyright-text" class="flex items-center justify-between max-xs:flex-row">
          <p class="leading-normal 2xl:text-xl">All rights reserved © 2023</p>
        </div>
      </div>
      <div class="flex flex-col">
        <a href="form.html" class="text-5xl underline decoration-[5px] underline-offset-[20px] transition-colors hover:text-primary sm:text-8xl"
          >Join the team</a
        >
        <a data-da="#copyright-text,1280,last" href="#" class="flex items-center gap-4 lg:mt-16">
          <img src="./img/arrow-stroke.svg" alt="Back to top" />
          <span class="hidden text-sm uppercase xs:block 2xl:text-xl">Back to top</span>
        </a>
      </div>
    </div>
  </div>
</footer>
